<article class="post">
  <div class="card" style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{format_url post_url}}</h6>
      <p class="card-text">Some quick example text to build on the card title
        and make up the bulk of the card's content.</p>
      <p class="card-subtitle mb-2 text-muted">Posted by
        {{user.username}}
        on
        {{format_date created_at}}</p>
      <a href="{{post_url}}" class="card-link">Article link</a>
      <a href="#" class="card-link">Comments</a>
    </div>
  </div>

</article>